<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css_basics.css' %}" />
</head>
<body>
<div class="header">
        Boiler Tube Remaining Useful Life Calculator
        <div class="header_link">
            <a href="{% url 'calculator:about' %}"> About </a>
        </div>
        <div class="header_link">
            <a href="{% url 'calculator:calculator' %}"> Calculator </a>
        </div>
    </div>
</body>
</html>